@use '../../../styles/variables' as var;
@use '../../../styles/mixins' as mix;

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 4rem 6rem 14rem 6rem;
}

.leftSection {
  max-width: 40%;
  padding-left: 6rem;
}

.elementsSection {
  display: inline-block;
}

.description {
  max-width: 100%;
  font-weight: var.$semibold;
  padding-top: 1.5rem;
}

.rightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-weight: var.$extrabold;
  @include mix.heading1;
  font-size: 3rem;
}

.heading1 {
  position: relative;
  display: inline-block;
  margin: 0;

  &::after {
    content: '';
    position: absolute;
    bottom: 0.2em;
    left: -2.5%;
    width: 105%;
    height: 0.4em;
    background-color: var.$primary-color;
    z-index: -1;
  }
}

.welcomeButton {
  background-color: var.$primary-color;
  border: none;
  margin-top: 2rem;
  font-weight: var.$extrabold;
}

@media screen and (max-width: 1024px) {
  .welcome {
    padding: 4rem 4rem 14rem 4rem;
    flex-direction: column;
  }

  .LeftSection {
    max-width: 100%;
    padding-left: 0;
  }

  .RightSection {
    width: 100%;
    text-align: center;
  }
}
