.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 2rem;

  @media (min-width: $screen-lg-min) {
    display: block;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;

  @media (min-width: $screen-lg-min) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.leftSection {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;

  @media (min-width: $screen-lg-min) {
    display: block;
    max-width: 40%;
    padding-left: 4rem;
  }
}

.elementsSection {
  display: inline-block;
}

.description {
  max-width: 100%;
  font-weight: $semibold;
  padding-top: 1.5rem;
}

.rightSection {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $extrabold;
  font-size: 3rem;

  @media (min-width: $screen-lg-min) {
    width: 50%;
  }
}

.ctaButton {
  margin: 2rem 0;
}

.illustration {
  width: 100%;
  max-width: 800px;
  height: auto;
  transform: scaleX(-1);
}
