.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 4rem 6rem 14rem 6rem;

  @media screen and (max-width: 1024px) {
    padding: 4rem 4rem 14rem 4rem;
    flex-direction: column;
  }
}

.leftSection {
  max-width: 40%;
  padding-left: 6rem;

  @media screen and (max-width: 1024px) {
    max-width: 100%;
    padding-left: 0;
  }
}

.elementsSection {
  display: inline-block;
}

.description {
  max-width: 100%;
  font-weight: $semibold;
  padding-top: 1.5rem;
}

.rightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-weight: $extrabold;
  font-size: 3rem;

  @media screen and (max-width: 1024px) {
    width: 100%;
    text-align: center;
  }
}
