@use '../../../styles/variables' as var;

.how-does-it-work-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 4rem 6rem 8rem 6rem;
  background-color: var.$secondary-color;
}
