.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;

  @media (min-width: $screen-md-min) {
    padding: 4rem 2rem;
  }

  @media (min-width: $screen-lg-min) {
    justify-content: space-between;
    padding: 4rem 4rem 8rem 4rem;
  }
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;

  @media (min-width: $screen-lg-min) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }
}

.sectionLeft {
  flex: 1;
  width: 100%;
  padding: 2rem;
  text-align: center;

  @media (min-width: $screen-lg-min) {
    max-width: 60%;
    padding-left: 4rem;
    text-align: left;
  }
}

.sectionRight {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;

  @media (min-width: $screen-lg-min) {
    width: 40%;
    padding: 0 2rem;
  }
}

.illustration {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: contain;

  @media (min-width: $screen-md-min) {
    max-width: 250px;
  }

  @media (min-width: $screen-lg-min) {
    max-width: 300px;
  }
}

.description {
  max-width: 100%;
  font-weight: $semibold;
  padding-top: 1.5rem;

  @media (min-width: $screen-lg-min) {
    padding-top: 2rem;
  }
}

.underlined {
  position: relative;
  display: inline-block;
  font-weight: $extrabold;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  text-decoration-thickness: 0.5rem;
  text-decoration-skip-ink: none;
  text-underline-offset: -4px;
  font-size: 2rem;
}

.sectionMembers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  width: 100%;
  margin-top: 3rem;
  padding: 0 2rem;
  gap: 2rem;

  @media (min-width: $screen-lg-min) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.memberImg {
  width: 100%;
  max-width: 180px;
}

.memberName {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: $semibold;
}

.memberLink {
  text-align: center;
  text-decoration: none;
  color: inherit;
  list-style: none;

  &:hover {
    transform: scale(1.1);
  }
}
