.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;

  @media (min-width: $screen-md-min) {
    padding: 4rem 2rem;
  }

  @media (min-width: $screen-lg-min) {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 4rem 8rem 4rem;
  }
}

.sectionLeft {
  width: 100%;
  padding: 2rem;
  text-align: center;

  @media (min-width: $screen-lg-min) {
    max-width: 60%;
    padding-left: 4rem;
    text-align: left;
  }
}

.sectionRight {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $screen-lg-min) {
    width: 50%;
  }
}

.illustration {
  width: 50%;

  @media (min-width: $screen-lg-min) {
    width: 50%;
  }
}

.description {
  max-width: 100%;
  font-weight: $semibold;
  padding-top: 1.5rem;

  @media (min-width: $screen-lg-min) {
    padding-top: 2rem;
  }
}

.underlined {
  position: relative;
  display: inline-block;
  font-weight: $extrabold;
  font-size: 2rem;
  text-align: center;
  z-index: -1;

  &::after {
    content: '';
    position: absolute;
    bottom: 0.25em;
    left: -1%;
    right: -1%;
    height: 0.3em;
    background-color: $primary-color;
    z-index: -2;
  }
}
