.clubCard {
  height: 550px;
  overflow: hidden;
  background: $light-grey;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.03);
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

.clubImage {
  flex-shrink: 0;
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.clubContent {
  padding: 0rem 1.5rem;
}

.clubName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  margin: 1rem 0 0.5rem;
  font-size: 1.5rem;
  font-weight: $extrabold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  text-decoration-thickness: 0.4rem;
  text-decoration-skip-ink: none;
  text-underline-offset: -4px;
}

.memberCount {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: $dark-grey;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number-of-rows;
  line-clamp: $number-of-rows;
  max-height: calc(1.2rem * $number-of-rows);
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2rem;
  font-size: 0.8rem;
}

.currentlyReading {
  margin: auto 0 0 auto;
  font-weight: $extrabold;
}
