.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 70vh;
}

.notFoundHeading {
  font-size: 6rem;

  @media (min-width: $screen-md-min) {
    font-size: 8rem;
  }
}

.pageNotFoundDescription {
  padding: 1.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: $semibold;

  @media (min-width: $screen-md-min) {
    font-size: 1.5rem;
  }
}
