@use 'variables' as var;

@mixin heading1 {
  font-weight: var.$extrabold;
  font-size: 5rem;
  position: relative;
}
@mixin heading2 {
  font-weight: var.$extrabold;
  font-size: 1.5rem;
  text-align: center;
}

@mixin heading3 {
  font-weight: var.$semibold;
  font-size: 1.125rem;
}

@mixin button {
  border:
    var.$secondary-color,
    1.5px solid;
  color: var.$secondary-color;
  text-align: center;
  text-decoration: none;
  padding: 0.0625rem 1rem;
  display: inline-block;
  font-size: 1.125rem;
  border-radius: 40px;
  cursor: pointer;
  font-family: var.$primary-font;
  background-color: transparent;
  font-weight: var.$semibold;
}
