@use 'variables' as var;
@use 'mixins' as mix;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Poppins, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
}

.page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 70vh;
}

#root,
#__next {
  isolation: isolate;
}

.button {
  @include mix.button;
}

.heading1 {
  @include mix.heading1;
}

.heading2 {
  @include mix.heading2;
}

.heading3 {
  @include mix.heading3;
}
