.bookSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.currentReadingTitle {
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  text-decoration-thickness: 0.4rem;
  text-decoration-skip-ink: none;
  text-underline-offset: -4px;

  @media (min-width: $screen-sm-min) {
    font-size: 1.5rem;
  }
}

.searchSection {
  margin-top: 6rem;
}

.searchHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
}

.searchTitle {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  text-decoration-thickness: 0.4rem;
  text-decoration-skip-ink: none;
  text-underline-offset: -4px;

  @media (min-width: $screen-sm-min) {
    font-size: 2rem;
  }
}

.searchContainer {
  position: relative;
  width: 100%;
  max-width: 600px;

  @media (min-width: $screen-sm-min) {
    width: 80%;
  }
}

.searchInput {
  width: 100%;
  padding: 0.4rem 2rem 0.4rem 1rem;
  border: 2px solid $secondary-color;
  border-radius: 40px;

  &:focus {
    outline: none;
  }

  @media (min-width: $screen-sm-min) {
    padding: 0.8rem 2.5rem 0.8rem 1rem;
  }
}

.searchIcon {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: $secondary-color;
}
