.container {
  margin: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: $extrabold;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  text-decoration-thickness: 0.4rem;
  text-decoration-skip-ink: none;
  text-underline-offset: -4px;

  @media (min-width: $screen-md-min) {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.clubsList {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;

  @media (min-width: $screen-sm-min) {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
  }
}

.bannerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  margin: 0 auto;
  background-color: $light-grey;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    gap: 3rem;
  }
}

.contentSection {
  padding: 0 1rem;
  text-align: center;

  @media (min-width: $screen-md-min) {
    flex: 0 1 500px;
    text-align: center;
    max-width: 500px;
    padding-left: 2rem;
  }
}

.bannerTitle {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: $extrabold;
  color: $secondary-color;

  @media (min-width: $screen-md-min) {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}

.bannerSubtitle {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  color: $dark-grey;

  @media (min-width: $screen-md-min) {
    font-size: 1.25rem;
  }
}

.bannerButton {
  padding: 0.5rem 2rem;
  font-size: 1rem;

  @media (min-width: $screen-md-min) {
    font-size: 1.2rem;
  }
}

.imageSection {
  display: flex;
  justify-content: center;

  @media (min-width: $screen-md-min) {
    flex: 0 1 500px;
    margin-bottom: 4rem;
  }
}

.bannerImage {
  width: 100%;
  max-width: 300px;
  height: auto;

  @media (min-width: $screen-md-min) {
    max-width: 400px;
  }
}
