.createClubPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  gap: 2rem;

  @media (min-width: $screen-lg-min) {
    flex-direction: row;
  }
}

.illustrationSection {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;

  @media (min-width: $screen-md-min) {
    max-width: 500px;
  }
}

.createdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}

.description {
  max-width: 100%;
  margin-bottom: 0.8rem;
  color: $secondary-color;
  font-size: 1rem;
  font-weight: $semibold;
  text-align: center;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.stepIndicator {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
  color: $secondary-color;
}

.backButton {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  color: $secondary-color;
  font-size: 0.8rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  text-decoration: underline $primary-color 0.2rem;
  color: inherit;
}

.title {
  text-align: center;
}
