.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondary-color;
  padding: 1rem 2rem;
}

.navbarList {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.navbarLink {
  color: inherit;
  text-decoration: none;
}

.navbarItem {
  font-weight: $semibold;
  font-size: 1.125rem;
}

.logo {
  font-size: 2.25rem;
  font-weight: 800; // Use numeric value directly
  white-space: nowrap; // Prevent line break Handle overflow text
  position: relative; // Required for pseudo-element positioning
}

.navbarButton {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 0.2rem 1rem;
  border: 1.5px solid $secondary-color;
  border-radius: 40px;
  background-color: transparent;
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 1.125rem;
  font-weight: $semibold;
  text-decoration: none;
}
