.bookGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media (min-width: $screen-sm-min) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 3rem;
  }
}
