.bookDetailSection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  gap: 2rem;

  @media (min-width: $screen-md-min) {
    flex-direction: row;
  }
}

.bookCover {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;

  @media (min-width: $screen-md-min) {
    max-width: 350px;
  }
}

.bookContentTitle {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.bookContentAuthor {
  font-size: 1.2rem;
  color: $secondary-color;
  margin-bottom: 1rem;
}

.rating {
  margin-bottom: 1rem;
}

.star {
  font-size: 1.2rem;

  &.filled {
    color: $primary-color;
  }

  &.empty {
    color: $primary-color;
    opacity: 0.3;
  }
}

.description {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.meta {
  display: flex;
  flex-direction: column;
  color: $tertiary-color;
  font-size: 0.8rem;
}

.metaItem {
  margin-right: 1rem;
}

.reviews {
  margin-bottom: 3rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .review {
    padding: 1rem;
    border-bottom: 1px solid #eee;

    .rating {
      margin-bottom: 0.5rem;
    }

    p {
      color: $secondary-color;
      line-height: 1.5;
    }
  }
}

.recommended {
  h2 {
    font-size: 1.5rem;
    margin: 2rem;
  }
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.reviewerInfo {
  display: flex;
  flex-direction: column;
}

.reviewerName {
  font-weight: $extrabold;
  margin-bottom: 0.25rem;
}

.reviewDate {
  color: $tertiary-color;
  font-size: 0.8rem;
}

.reviewText {
  line-height: 1;
  margin-top: 0.8rem;
}

.noReviews {
  color: $tertiary-color;
  font-style: italic;
}

.backButton {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  background-color: transparent;
  color: $secondary-color;
  border-radius: 16px;
  border: none;
  cursor: pointer;

  &:hover {
    font-weight: $semibold;
  }
}
