@use '../../styles/variables' as var;
@use '../../styles/mixins' as mix;

.footer {
  position: relative;
  flex-shrink: 0;
  padding: 1rem;
  background-color: var.$primary-color;
  text-align: center;
  @include mix.heading3;
}
