.clubDetailPage {
  margin: 0 auto;
}

.clubBanner {
  height: 12rem;
  background-color: $light-grey;
  margin-bottom: 7rem;

  @media (min-width: $screen-lg-min) {
    margin-bottom: 3rem;
  }
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -12rem;

  @media (min-width: $screen-lg-min) {
    justify-content: flex-start;
    margin-left: 4rem;
    margin-top: -9rem;
  }
}

.clubImageCircle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: $wow-grey;
  border: 4px solid $white;
}

.clubImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pageContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: $screen-lg-min) {
    flex-direction: row;
    align-items: flex-start;
    padding-right: 4rem;
  }
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 2rem;
  text-align: center;

  @media (min-width: $screen-lg-min) {
    flex: 0 0 300px;
    align-items: flex-start;
    min-width: 300px;
    max-width: 300px;
    width: auto;
    margin: 1rem 2rem 1rem 4rem;
    padding: 0;
    text-align: left;
  }
}

.editableContent {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @media (min-width: $screen-lg-min) {
    max-width: 300px;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: $extrabold;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;

  @media (min-width: $screen-lg-min) {
    font-size: 1.75rem;
  }
}

.notEditableTitle {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: $extrabold;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.description {
  width: 100%;
  font-size: 0.8rem;
  color: $dark-grey;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;

  @media (min-width: $screen-lg-min) {
    max-width: 300px;
  }
}

.contentSection {
  display: grid;
  gap: 1.5rem;
  margin: 0 2rem;

  @media (min-width: $screen-lg-min) {
    flex: 1;
  }
}

.card {
  background: $white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.cardTitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.cardText {
  color: $dark-grey;
}

.inviteCard {
  background-color: $primary-color;
  color: $white;
}

.inviteCardTitle {
  color: $white;
}

.inviteCardText {
  color: $white;
}

.readingCard {
  background: $white;
}

.deleteButton {
  margin-top: 4rem;
  background-color: transparent;
  color: $dark-grey;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
